.App {
  display: block;
  flex-direction: column;
  min-height: 100vh;
  background: url("netfliximage.jpeg");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 8rem;
  margin-left: 80px;
}

.signin-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  font-size: x-large;
  margin-right: 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar img {
  height: 250px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  font-size: 1.1rem;
}

.welcome-back-text {
  font-size: 30px;
  max-width: 850px;
  margin-top: 40px;
  color: white;
  font-weight: 400;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 80px;
  color: white;
  margin: 0;
}

.hero h4 {
  font-size: 40px;
  max-width: 800px;
  margin-bottom: 40px;
  color: white;
  font-weight: 400;
}

.hero h5 {
  font-size: 25px;
  max-width: 850px;
  margin-bottom: 40px;
  color: white;
  font-weight: 400;
}

.email-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.email-input input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  height: 3rem; /* add this line */
}

form {
  display: flex;
  align-items: center;
}

.emailsection {
  height: 90px;
  width: 650px;
  font-size: 28px;
  border-radius: 4px;
  border: none;
}

.submitbutton {
  background-color: #e50914;
  height: 90px;
  border: none;
  color: white;
  font-size: 40px;
  padding: 15px 25px;
}

.submitbutton:hover {
  background-color: #f43943;
}

.hero-container {
  color: #c2bbbb;
}

.stream-list-container {
  background-color: black;
  border: 8px, solid rgba(128, 128, 128, 0.262);
}
.streamtitle {
  font-size: 80px;
  color: white;
  margin-top: 80px;
  margin-left: 300px;
  justify-content: center;
}

.stream-list {
  font-size: 40px;
  max-width: 800px;
  margin-bottom: 40px;
  color: white;
  font-weight: 400;
  margin-left: 300px;
}

.movie-list-container {
  background-color: black;
  border: 11px solid rgba(128, 128, 128, 0.262);
}
.tvtitle {
  font-size: 80px;
  color: white;
  margin-top: 80px;
  margin-left: 300px;
  justify-content: center;
}

.tv-list {
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
  font-weight: 400;
  margin-left: 300px;
}

.tv2 {
  margin-left: 200px;
}

.search-button {
  margin-left: auto;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 15px 25px;
}

.search-button:hover {
  background-color: #f40612;
}

.FAQ-list {
  background-color: black;
  border: 8px solid rgba(128, 128, 128, 0.262);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleFAQ {
  font-size: 80px;
  color: white;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 40px;
  justify-content: center;
}

.faq-list-item {
  background-color: rgba(128, 128, 128, 0.262);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 1100px;
  height: 100px;
}

.faq-question {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 40px;
  padding: 15px 20px;
  width: 100%;
}

.pricing-plan {
  background-color: #141414;
  color: white;
  padding: 80px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pricing-plan__title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.pricing-plan__options {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.pricing-plan__option {
  background-color: #272727;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  flex-basis: 30%;
}

.pricing-plan__option-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.pricing-plan__option-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.pricing-plan__option-price {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.pricing-plan__option-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  height: 5rem;
  width: 8rem;
  font-size: x-large;
  margin-right: 5px;
}

.link{
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  height: 3rem;
  width: 100%;
  font-size: x-large;
}
